[core]
  editor = "nvim"
  pager = delta

[delta]
  navigate = true
  syntax-theme = base16
  line-numbers = true

[user]
  name = lightclient
  email = lightclient@protonmail.com
  signingkey = 062431612E12367DAE0E24766E5E56B80EE509D2

[init]
  defaultBranch = main

[diff]
  colorMoved = default

[gpg]
  program = gpg

[commit]
  gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
