[core]
  editor = "nvim"

[user]
	name = lightclient
	email = lightclient@protonmail.com
	signingkey = 062431612E12367DAE0E24766E5E56B80EE509D2

[init]
	defaultBranch = main

[diff]
  external = difft --display=inline

[alias]
  dlog = -c diff.external=difft log --ext-diff
  dshow = -c diff.external=difft show --ext-diff
  ddiff = -c diff.external=difft diff

[gpg]
  program = gpg

[commit]
  gpgsign = true
