shell/.gnupg
shell/.ssh/known_hosts*
shell/.ssh/staking
shell/.ssh/authorized_keys
!shell/.gnupg/gpg-agent.conf
!shell/.gnupg/sshcontrol
shell/.config/secrets.sh
pi/.pi/agent/auth.json
pi/.pi/agent/sessions
